<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itheima.mapper.StudentMapper">

    <!--查询方法-->
    <select id="findAll" resultType="student">
        select * from t_student
    </select>
    <!--添加学生-->
    <insert id="add" parameterType="student">
        insert into t_student values (#{id},#{name},#{sex},#{age},#{address})
    </insert>
    <!--通过id查询-->
    <select id="findOne" resultType="student" parameterType="int">
        select * from t_student where id=#{id}
    </select>
    <!--修改-->
    <update id="update" parameterType="student">
        update t_student set name=#{name},sex=#{sex},age=#{age},address=#{address} where id=#{id}
    </update>

    <!--删除-->
    <delete id="del" parameterType="java.util.ArrayList">
        delete from t_student
        <where>
            <foreach collection="array" open="id in(" close=")" separator="," item="id">
                #{id}
            </foreach>
        </where>
    </delete>
</mapper>